.features {
  background: $primary-color;
}
.list-features {
  li {
    width: calc(100% / 5);
    color: $white;
    align-items: center;
    span {
      text-transform: uppercase;
      font-size: $font-menu;
    }
    img {
      margin-right: 15px;
      width: 18%;
    }
  }
  li:nth-child(4) img {
    width: 12%;
  }
}
