.footer {
  background-image: url("../assets/img/footer-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.footerone {
  background-image: url("../assets/img/dc-logo-bg.png");
  background-position: right center;
  background-repeat: no-repeat;
}

.nav-footer {
  width: 50%;
  h4 {
    color: $white;
  }
}

.col-sx,
.col-center,
.col-dx {
  width: calc(100% / 4);
  .footer-col {
    & li {
      margin: 3px 0;
      & a {
        color: $light-grey;
        text-decoration: none;
        font-size: $font-menu;
        font-weight: $font-normal;
      }
    }
  }
}

.footer-logo {
  width: 50%;
}

.footer-social {
  background-color: $second-color;
  .footer-cta {
    color: $white;
    background-color: $second-color;
    border: 2px solid $primary-color;
    padding: 10px 15px;
    font-size: $font-footer;
    line-height: $font-footer;
  }
  .container {
    .follow {
      color: $primary-color;
      font-size: $font-footer;
      font-weight: $font-bold;
      margin-right: 15px;
    }
    img {
      margin: 0 10px;
    }
  }
}
