.products {
  background: $third-color;
  height: 100px;
  .container {
    height: 100%;
    padding: 0;
  }
}

.title {
  background-color: $primary-color;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  bottom: 25px;
  .text-title {
    color: $white;
    font-size: 30px;
    text-transform: uppercase;
  }
}
