// Layout

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: space-between;
  align-items: center;
}

.no-list-style {
  list-style: none;
}

.p-10 {
  padding: 10px;
}
