// Colors
$primary-color: #0282f9;

$second-color: #303030;

$third-color: #1c1c1c;

$white: #fff;

$light-grey: #7a7f81;

// Fonts

$font-normal: 400;

$font-light: 300;

$font-bold: 700;

$uppercase: uppercase;

$font-footer: 18px;

$font-menu: 14px;
